*{
  box-sizing: border-box;
  margin: 0px;
}
.App{
  margin: 20px;
  padding: 20px;
}

.cats_header_title{
  color:rebeccapurple;
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px orange;
}

.cats_totals{
  color:darkorange;
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cats_averages{
  color:slateblue;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
