*{
  margin: 0px;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  border-radius: 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
  border-radius: 0px;
  background-color: darkcyan;
}

.App{
  margin: 20px;
}

*{
  max-width: 100%;
  flex-wrap: wrap;
}

.cats_header_title{
  color:rebeccapurple;
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px orange;
}

.cats_totals{
  color:darkorange;
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cats_averages{
  color:slateblue;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}